## Extract diving pose gestures

In [14]:
import pandas as pd
import os
import math

In [10]:
chalearn_path = "/home/vlados/datasets/chalearn/"
# chalearn_path = "/home/vlad/datasets/chalearn/"
chalearn_labels_path = chalearn_path + "Info_devel_valid.txt"

In [11]:
column_names = [  "j0_x",  "j0_y", "j1_x", "j1_y" , "j2_x", "j2_y", "j3_x", "j3_y", "j4_x", "j4_y", "j5_x", "j5_y", "j6_x", "j6_y", "j7_x", "j7_y", "j8_x", "j8_y", "j9_x", "j9_y", "j10_x", "j10_y", "j11_x", "j11_y", "j12_x", "j12_y", "j13_x", "j13_y", 'j14_x', "j14_y", "j15_x", "j15_y", "j16_x", "j16_y", "j17_x", "j17_y" ]

In [3]:
chalearn_labels_df = pd.read_csv(chalearn_labels_path, sep="\t")

In [4]:
chalearn_labels_df.head()

,Set,Num,Lexicon,UserID,Date,MinDepth,MaxDepth,DepthRes,DepthAcc,Missing
0,devel,1,CanadaAviationGroundCirculation1,A,2011 10 05 16 26,801,1964,76,2,0
1,devel,2,RefereeWrestlingSignals1,I,2011 09 28 14 31,801,1968,71,1,0
2,devel,3,GangHandSignals1,L,2011 09 27 12 16,801,1506,95,1,0
3,devel,4,DivingSignals2,J,2011 09 26 09 01,801,1869,100,1,0
4,devel,5,GestunoDisaster,L,2011 10 11 15 16,824,1964,91,2,0

In [6]:
chlearn_diving_labels_df = chalearn_labels_df.loc[chalearn_labels_df["Lexicon"].isin(["DivingSignals1", "DivingSignals2"])].drop(chalearn_labels_df.loc[:,"Date":], axis = 1)
chlearn_diving_labels_df

       Set  Num         Lexicon UserID
3    devel    4  DivingSignals2      J
19   devel   20  DivingSignals1      D
22   valid    3  DivingSignals2      Z
45   devel   26  DivingSignals2      L
54   devel   35  DivingSignals1      O
62   devel   43  DivingSignals2      L
71   devel   52  DivingSignals1      I
90   devel   71  DivingSignals1      R
92   devel   73  DivingSignals1      H
98   devel   79  DivingSignals2      M
102  devel   83  DivingSignals2      C
117  devel   98  DivingSignals2      B
131  devel  112  DivingSignals1      C
177  devel  158  DivingSignals2      A
200  devel  181  DivingSignals2      B
216  devel  197  DivingSignals1      Z
217  devel  198  DivingSignals2      K
218  devel  199  DivingSignals1      J
274  devel  255  DivingSignals2      O
291  devel  272  DivingSignals1      L
312  devel  293  DivingSignals1      L
319  devel  300  DivingSignals2      I
322  devel  303  DivingSignals1      K
357  devel  338  DivingSignals1      B
380  devel  361  DivingSignals2      D
430  devel  411  DivingSignals2      H
439  devel  420  DivingSignals1      A
459  devel  440  DivingSignals2      R
494  devel  475  DivingSignals1      M

In [7]:
def find_dir(number, path, name):
    for dirname in os.listdir(path):
        splitted = dirname.split("-")
        if splitted[0] != name:
            continue
        if (int(splitted[1]) < number <= int(splitted[2])):
            subpath = os.path.join(path, dirname)
            for subdirname in os.listdir(subpath):
                subsplitted = subdirname.split(name)
                if subsplitted[0] != "":
                    continue
                if int(subsplitted[1]) == number:
                    dest_path = os.path.join(subpath, subdirname)
                    for dest_file in os.listdir(dest_path):
                        if dest_file.split(".")[1] == "csv":
                            yield dest_path, dest_file

In [8]:
df = pd.DataFrame(columns=["name", "label", "path"])
for index, row in chlearn_diving_labels_df.iterrows():
    for dest_path, csv_file  in find_dir(row["Num"], chalearn_path, row["Set"]):
        df_set = pd.read_csv(os.path.join(dest_path, csv_file), names=["name", "label"])
        df_set["path"] = dest_path
        df_set["lexicon"] = row["Lexicon"]
        df_set["user"] = row["UserID"]
        for subindex, subrow in df_set.iterrows():
            df_set.at[subindex, "path"] = os.path.join(subrow.at["path"], "M_" + subrow.at["name"].split("_")[1] + ".avi")
        df = pd.concat([df, df_set], ignore_index=True, sort=False)
df

,name,label,path,lexicon,user
0,devel04_11,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
1,devel04_12,1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
2,devel04_13,2 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
3,devel04_14,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
4,devel04_15,9 5 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
...,...,...,...,...,...
1321,devel475_5,9,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1322,devel475_6,8,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1323,devel475_7,5,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1324,devel475_8,4,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1325,devel475_9,2,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M

In [21]:
df.iloc[:60]

,name,label,path,lexicon,user
0,devel04_11,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
1,devel04_12,1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
2,devel04_13,2 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
3,devel04_14,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
4,devel04_15,9 5 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
5,devel04_16,7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
6,devel04_17,4 7 4 3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
7,devel04_18,5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
8,devel04_19,9 2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
9,devel04_20,9 10 8 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
10,devel04_21,3 4 1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
11,devel04_22,3 8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
12,devel04_23,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
13,devel04_24,7 10,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
14,devel04_25,5 1 4 9 8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
15,devel04_26,10 3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
16,devel04_27,7 2 2 5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
17,devel04_28,10,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
18,devel04_29,5 6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
19,devel04_30,1 9 3 1 10,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
20,devel04_31,6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
21,devel04_32,8 7 9,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
22,devel04_33,4 9,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
23,devel04_34,5 10 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
24,devel04_35,2 6 10,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
25,devel04_36,9,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
26,devel04_37,8 5 5 2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
27,devel04_38,2 4 1 8 5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
28,devel04_39,1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
29,devel04_40,8 1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
30,devel04_41,1 5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
31,devel04_42,6 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
32,devel04_43,1 1 6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
33,devel04_44,9 8 10 10 6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
34,devel04_45,8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
35,devel04_46,10 8 10 8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
36,devel04_47,4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
37,devel04_1,9,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
38,devel04_2,6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
39,devel04_3,1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
40,devel04_4,7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
41,devel04_5,5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
42,devel04_6,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
43,devel04_7,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
44,devel04_8,10,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
45,devel04_9,4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
46,devel04_10,8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
47,devel20_10,5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
48,devel20_11,9 9 7 2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
49,devel20_12,3 3 9 2 8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
50,devel20_13,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
51,devel20_14,7 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
52,devel20_15,4 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
53,devel20_16,6 6 5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
54,devel20_17,6 3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
55,devel20_18,5 3 2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
56,devel20_19,6 8 1 6,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
57,devel20_20,7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
58,devel20_21,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
59,devel20_22,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D

## Extract poses from each video

In [9]:
import numpy as np
import cv2
import os
import torch
import torch.nn as nn

os.sys.path.append('poseEstimation')
from poseEstimation.demo import infer_fast, VideoReader
from poseEstimation.modules.pose import Pose
from poseEstimation.modules.load_state import load_state
from poseEstimation.modules.keypoints import extract_keypoints, group_keypoints
from poseEstimation.models.with_mobilenet import PoseEstimationWithMobileNet

In [10]:
DEVICE = "cuda" if torch.cuda.is_available() else "cpu"
# DEVICE = "cpu"
print("Using device: " + DEVICE)
if torch.backends.cudnn.is_available():
    torch.backends.cudnn.enabled = True

SEED = 42

np.random.seed(SEED)
torch.manual_seed(SEED)
torch.cuda.manual_seed_all(SEED)
if torch.cuda.is_available():
    torch.backends.cudnn.deterministic = True

net = PoseEstimationWithMobileNet()
checkpoint = torch.load(
    "weights/checkpoint_iter_370000.pth", map_location='cpu')
load_state(net, checkpoint)

Using device: cuda

In [12]:
def infer(net, image_provider, height_size, cpu):
    net = net.eval()
    if not cpu:
        net = net.cuda()

    stride = 8
    upsample_ratio = 4
    num_keypoints = Pose.num_kpts

    pose_sequence = []
    prediction = 0
    prediction_made = False

    for img in image_provider:
        heatmaps, pafs, scale, pad = infer_fast(
            net, img, height_size, stride, upsample_ratio, cpu)

        total_keypoints_num = 0
        all_keypoints_by_type = []
        for kpt_idx in range(num_keypoints):  # 19th for bg
            total_keypoints_num += extract_keypoints(
                heatmaps[:, :, kpt_idx], all_keypoints_by_type, total_keypoints_num)

        pose_entries, all_keypoints = group_keypoints(
            all_keypoints_by_type, pafs)
        for kpt_id in range(all_keypoints.shape[0]):
            all_keypoints[kpt_id, 0] = (
                all_keypoints[kpt_id, 0] * stride / upsample_ratio - pad[1]) / scale
            all_keypoints[kpt_id, 1] = (
                all_keypoints[kpt_id, 1] * stride / upsample_ratio - pad[0]) / scale
        current_poses = []
        for n in range(len(pose_entries)):
            if len(pose_entries[n]) == 0:
                continue
            pose_keypoints = np.ones((num_keypoints, 2), dtype=np.int32) * -1
            for kpt_id in range(num_keypoints):
                
                if pose_entries[n][kpt_id] != -1.0:  # keypoint was found
                    pose_keypoints[kpt_id, 0] = int(
                        all_keypoints[int(pose_entries[n][kpt_id]), 0])
                    pose_keypoints[kpt_id, 1] = int(
                        all_keypoints[int(pose_entries[n][kpt_id]), 1])
                else:
                    pose_keypoints[kpt_id, 0] = 0
                    pose_keypoints[kpt_id, 1] = 0
            pose = Pose(pose_keypoints, pose_entries[n][18])
            
            current_poses.append(pose)

        if (len(current_poses) > 0):
            pose_sequence.append(current_poses[0].keypoints.reshape([36]))

    return pose_sequence

In [19]:
poses_df = pd.DataFrame(columns=column_names +["name"])
for index, row in df.iterrows():
    if index == 10:
        break
    print(row["name"])
    frame_provider = VideoReader(row["path"])
    pose_sequence = infer(net, frame_provider, 256, False)
    pose_df = pd.DataFrame(pose_sequence, columns=column_names)
    pose_df["name"] = row["name"]
    poses_df = pd.concat([poses_df, pose_df], ignore_index=True, sort=False)

devel04_11
devel04_12
devel04_13
devel04_14
devel04_15
devel04_16
devel04_17
devel04_18
devel04_19
devel04_20

In [22]:
poses_df.to_csv("poses_from_videos.csv", sep="\t", index=False)

## Load extracted poses from csv

In [22]:
poses_df = pd.read_csv("poses_from_videos.csv", sep="\t")

In [23]:
poses_df

,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,j4_y,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,132,80,130,110,100,108,94,150,117,165,...,0,126,75,137,75,117,76,147,76,devel04_1
1,132,80,128,112,100,110,90,150,115,170,...,0,126,75,137,75,117,76,145,76,devel04_1
2,132,80,128,112,100,110,89,150,109,176,...,0,126,75,137,75,117,76,145,76,devel04_1
3,132,80,128,112,100,110,89,153,104,185,...,0,126,75,137,75,117,76,145,76,devel04_1
4,132,80,128,112,98,112,87,155,98,196,...,0,126,75,137,75,119,76,147,78,devel04_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104503,173,82,173,121,143,118,122,163,113,146,...,0,167,78,180,76,160,84,190,84,devel475_9
104504,173,82,173,121,143,120,126,161,115,165,...,0,167,78,180,76,160,84,190,84,devel475_9
104505,173,82,173,121,143,120,128,161,122,187,...,0,167,78,180,76,160,84,190,84,devel475_9
104506,173,82,173,121,143,120,128,161,124,195,...,0,167,78,180,76,160,84,190,84,devel475_9
104507,173,82,173,121,141,120,128,163,128,210,...,0,167,76,180,76,160,84,190,84,devel475_9

### Find the smallest number of frames for one gesture

In [41]:
def count_min_frames_for_gesture(filenames_df, poses_df):
    min_frames_count = 100
    for index, row in filenames_df.iterrows():
        num_frames = poses_df.loc[poses_df["name"] == row["name"]].shape[0]
        if (isinstance(row["label"], str)):
            splitted_len = len(row["label"].split(" ")) - 1
            num_frames = poses_df.loc[poses_df["name"] == row["name"]].shape[0] / splitted_len
        if num_frames < min_frames_count:
            min_frames_count = num_frames
            print(min_frames_count, row["name"], row["user"])  
    return min_frames_count

In [52]:
count_min_frames_for_gesture(df,poses_df)

78.0 devel04_11 J
38.0 devel04_12 J
35.0 devel04_15 J
33.0 devel04_16 J
32.8 devel04_25 J
32.0 devel04_44 J
30.0 devel20_10 D
21.25 devel20_11 D
20.333333333333332 devel20_18 D
18.25 devel98_38 B
16.6 devel181_23 B
15.333333333333334 devel181_26 B
13.333333333333334 devel361_34 D

13.333333333333334

### Cut first 1 second from "D" user

In [24]:
df.loc[df["user"] == "D"]

,name,label,path,lexicon,user
47,devel20_10,5,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
48,devel20_11,9 9 7 2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
49,devel20_12,3 3 9 2 8,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
50,devel20_13,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
51,devel20_14,7 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals1,D
...,...,...,...,...,...
1133,devel361_43,7 8,/home/vlados/datasets/chalearn/devel-251-365/d...,DivingSignals2,D
1134,devel361_44,10,/home/vlados/datasets/chalearn/devel-251-365/d...,DivingSignals2,D
1135,devel361_45,7,/home/vlados/datasets/chalearn/devel-251-365/d...,DivingSignals2,D
1136,devel361_46,5 1 5 6,/home/vlados/datasets/chalearn/devel-251-365/d...,DivingSignals2,D
1137,devel361_47,9 7,/home/vlados/datasets/chalearn/devel-251-365/d...,DivingSignals2,D

In [28]:
D_poses_df = pd.DataFrame(columns=column_names + ["name"])
for index, row in df.loc[df["user"] == "D"].iterrows():
    D_poses_df = pd.concat([D_poses_df, poses_df.loc[poses_df["name"] == row["name"]].iloc[9:]], ignore_index=True, sort=False)
D_poses_df

,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,j4_y,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,162,84,162,114,135,114,98,150,111,116,...,0,158,78,167,78,149,84,175,84,devel20_10
1,162,86,162,114,135,114,94,136,109,99,...,0,156,80,167,80,149,84,175,84,devel20_10
2,162,86,162,112,135,112,92,114,113,76,...,0,156,80,167,80,149,84,175,86,devel20_10
3,162,84,162,108,135,110,96,95,122,58,...,0,158,78,167,78,149,86,175,86,devel20_10
4,162,84,162,108,137,108,100,86,128,52,...,0,158,78,167,78,149,84,175,84,devel20_10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,152,84,154,114,128,116,117,153,122,168,...,0,147,78,158,78,139,84,167,84,devel361_47
4313,152,84,154,114,128,116,117,153,120,166,...,0,147,80,158,78,139,84,167,84,devel361_47
4314,152,84,156,114,128,116,117,153,120,166,...,0,147,78,158,78,139,84,167,84,devel361_47
4315,152,84,154,114,128,116,115,153,122,165,...,0,147,78,158,78,139,84,167,84,devel361_47
4316,152,84,158,116,130,116,115,153,122,166,...,0,149,78,160,78,141,84,169,84,devel361_47

### Cut first and lact 1 second from "J" user

In [25]:
df.loc[df["user"] == "J"]

,name,label,path,lexicon,user
0,devel04_11,3,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
1,devel04_12,1,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
2,devel04_13,2 7,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
3,devel04_14,2,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
4,devel04_15,9 5 4,/home/vlados/datasets/chalearn/devel-1-20/deve...,DivingSignals2,J
...,...,...,...,...,...
804,devel199_5,2,/home/vlados/datasets/chalearn/devel-136-250/d...,DivingSignals1,J
805,devel199_6,4,/home/vlados/datasets/chalearn/devel-136-250/d...,DivingSignals1,J
806,devel199_7,8,/home/vlados/datasets/chalearn/devel-136-250/d...,DivingSignals1,J
807,devel199_8,6,/home/vlados/datasets/chalearn/devel-136-250/d...,DivingSignals1,J
808,devel199_9,5,/home/vlados/datasets/chalearn/devel-136-250/d...,DivingSignals1,J

In [26]:
J_poses_df = pd.DataFrame(columns=column_names + ["name"])
for index, row in df.loc[df["user"] == "J"].iterrows():
    J_poses_df = pd.concat([J_poses_df, poses_df.loc[poses_df["name"] == row["name"]].iloc[9:]], ignore_index=True, sort=False)
J_poses_df

,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,j4_y,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,132,78,128,112,98,112,85,157,87,200,...,0,126,73,137,73,117,76,145,75,devel04_11
1,132,78,128,112,98,112,85,155,90,200,...,0,126,73,137,71,117,76,145,75,devel04_11
2,132,78,128,114,98,112,85,157,92,200,...,0,124,73,137,73,115,76,145,76,devel04_11
3,130,78,126,114,98,112,85,155,92,200,...,0,124,73,135,73,115,75,143,76,devel04_11
4,128,78,126,112,96,112,85,157,90,204,...,0,122,73,135,73,113,76,143,76,devel04_11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7694,160,86,158,121,130,121,115,165,115,200,...,0,154,82,165,82,147,86,175,86,devel199_9
7695,160,86,158,121,130,121,115,165,115,200,...,0,154,82,165,82,147,86,175,86,devel199_9
7696,160,86,158,121,130,121,113,163,115,200,...,0,154,82,165,82,147,86,175,86,devel199_9
7697,160,86,158,121,130,121,113,163,115,195,...,0,154,82,165,82,147,86,175,86,devel199_9
7698,160,86,158,121,130,121,111,159,113,185,...,0,154,82,165,82,147,86,175,86,devel199_9

### Cut first and lact 1 second from "Z" user

In [27]:
Z_poses_df = pd.DataFrame(columns=column_names + ["name"])
for index, row in df.loc[df["user"] == "Z"].iterrows():
    Z_poses_df = pd.concat([Z_poses_df, poses_df.loc[poses_df["name"] == row["name"]].iloc[9:]], ignore_index=True, sort=False)
Z_poses_df

,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,j4_y,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,143,67,150,108,124,110,115,146,111,168,...,0,137,63,150,61,134,71,164,67,valid03_1
1,143,67,152,108,122,112,115,148,111,168,...,0,137,63,150,61,134,71,164,67,valid03_1
2,143,67,150,108,124,110,115,146,111,168,...,0,137,63,150,61,134,71,164,67,valid03_1
3,143,65,150,108,122,110,115,148,113,170,...,0,137,61,150,61,134,69,164,67,valid03_1
4,143,65,150,108,122,110,115,146,113,170,...,0,137,61,150,61,134,69,164,67,valid03_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5950,152,69,160,110,132,110,119,157,109,196,...,0,147,65,158,63,143,73,173,69,devel197_47
5951,152,69,160,110,132,110,119,159,109,195,...,0,147,65,158,63,143,73,173,69,devel197_47
5952,152,69,160,110,132,110,119,157,111,196,...,0,147,65,158,63,143,75,173,71,devel197_47
5953,152,69,160,110,132,110,119,157,111,195,...,0,147,65,158,63,143,75,173,69,devel197_47
5954,150,71,160,110,132,110,119,157,111,196,...,0,147,65,158,63,143,73,173,71,devel197_47

### Concatenate all

In [31]:
df.loc[(df["user"] != "J") & (df["user"] != "Z") & (df["user"] != "D")]

,name,label,path,lexicon,user
104,devel26_1,4,/home/vlados/datasets/chalearn/devel-21-135/de...,DivingSignals2,L
105,devel26_2,7,/home/vlados/datasets/chalearn/devel-21-135/de...,DivingSignals2,L
106,devel26_3,2,/home/vlados/datasets/chalearn/devel-21-135/de...,DivingSignals2,L
107,devel26_4,10,/home/vlados/datasets/chalearn/devel-21-135/de...,DivingSignals2,L
108,devel26_5,9,/home/vlados/datasets/chalearn/devel-21-135/de...,DivingSignals2,L
...,...,...,...,...,...
1321,devel475_5,9,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1322,devel475_6,8,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1323,devel475_7,5,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1324,devel475_8,4,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M
1325,devel475_9,2,/home/vlados/datasets/chalearn/devel-366-480/d...,DivingSignals1,M

### D is kinda crappy and freaks me out

In [33]:
new_poses_df = pd.DataFrame(columns=column_names + ["name"])
for index, row in df.loc[(df["user"] != "J") & (df["user"] != "Z") & (df["user"] != "D")].iterrows():
    new_poses_df = pd.concat([new_poses_df, poses_df.loc[poses_df["name"] == row["name"]]], ignore_index=True, sort=False)

In [36]:
new_poses_df = pd.concat([new_poses_df, J_poses_df], ignore_index=True, sort=False)
new_poses_df = pd.concat([new_poses_df, Z_poses_df], ignore_index=True, sort=False)

In [37]:
new_poses_df

,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,j4_y,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,164,48,175,84,143,86,135,138,137,183,...,0,158,41,169,41,150,45,188,41,devel26_1
1,164,46,175,84,143,86,135,138,137,183,...,0,158,41,169,41,152,45,188,43,devel26_1
2,164,46,175,84,143,86,135,138,137,183,...,0,158,41,169,39,152,45,188,41,devel26_1
3,164,46,175,84,145,86,135,138,135,183,...,0,158,41,169,39,152,45,188,41,devel26_1
4,164,46,175,84,145,86,135,138,135,183,...,0,158,41,169,39,152,45,188,41,devel26_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97981,152,69,160,110,132,110,119,157,109,196,...,0,147,65,158,63,143,73,173,69,devel197_47
97982,152,69,160,110,132,110,119,159,109,195,...,0,147,65,158,63,143,73,173,69,devel197_47
97983,152,69,160,110,132,110,119,157,111,196,...,0,147,65,158,63,143,75,173,71,devel197_47
97984,152,69,160,110,132,110,119,157,111,195,...,0,147,65,158,63,143,75,173,69,devel197_47
97985,150,71,160,110,132,110,119,157,111,196,...,0,147,65,158,63,143,73,173,71,devel197_47

In [38]:
new_poses_df.to_csv("filtered_without_D_poses_from_videos.csv", sep="\t")

## Prepare data for training

In [39]:
# new_poses_df = pd.read_csv("filtered_poses_from_videos.csv", sep="\t")
new_poses_df = pd.read_csv("filtered_without_D_poses_from_videos.csv", sep="\t")

In [12]:
sequence_size = 9

In [47]:
# sequence_size = int(count_min_frames_for_gesture(df,new_poses_df))
sequence_size = math.ceil(count_min_frames_for_gesture(df.loc[df["user"] != "D"],new_poses_df))
sequence_size

69.0 devel04_11 J
29.0 devel04_12 J
24.0 devel04_16 J
23.0 devel35_18 O
22.0 devel98_23 B
21.8 devel98_29 B
18.25 devel98_38 B
16.6 devel181_23 B
15.333333333333334 devel181_26 B

16

In [48]:
batch_step_size = math.ceil(sequence_size / 2)
batch_step_size

8

In [45]:
new_poses_df.iloc[0:3]

,Unnamed: 0,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
0,0,164,48,175,84,143,86,135,138,137,...,0,158,41,169,41,150,45,188,41,devel26_1
1,1,164,46,175,84,143,86,135,138,137,...,0,158,41,169,41,152,45,188,43,devel26_1
2,2,164,46,175,84,143,86,135,138,137,...,0,158,41,169,39,152,45,188,41,devel26_1

In [49]:
poses_from_one_video = new_poses_df.loc[new_poses_df["name"] == df.iloc[2]["name"]]
labels_string = str(df.iloc[2]["label"]);
splitted = labels_string.split(" ")
del splitted[0]
num_labels = len(splitted)
label_sequence_size = math.ceil(poses_from_one_video.shape[0] / num_labels)

In [50]:
print(labels_string)
print(splitted)
print(num_labels)
poses_from_one_video

 2 7
['2', '7']
2

,Unnamed: 0,j0_x,j0_y,j1_x,j1_y,j2_x,j2_y,j3_x,j3_y,j4_x,...,j13_y,j14_x,j14_y,j15_x,j15_y,j16_x,j16_y,j17_x,j17_y,name
84430,84430,132,78,128,112,98,112,85,155,90,...,0,126,73,137,71,115,75,145,75,devel04_13
84431,84431,132,78,128,112,98,112,85,155,90,...,0,126,71,137,71,115,75,145,75,devel04_13
84432,84432,132,78,128,112,100,112,85,153,85,...,0,126,73,137,71,115,75,145,75,devel04_13
84433,84433,132,78,128,110,98,108,83,150,83,...,0,126,73,137,73,115,75,145,76,devel04_13
84434,84434,134,78,130,106,100,106,85,144,96,...,0,126,73,139,73,117,76,145,76,devel04_13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84495,84495,135,76,130,112,100,112,87,155,92,...,0,128,71,139,71,119,73,145,75,devel04_13
84496,84496,134,76,130,112,100,112,87,155,94,...,0,128,71,139,71,117,73,145,75,devel04_13
84497,84497,134,76,130,112,98,112,87,153,98,...,0,128,71,137,71,117,73,145,76,devel04_13
84498,84498,132,78,128,112,98,112,87,151,102,...,0,126,71,137,71,115,73,145,75,devel04_13
84499,84499,130,78,128,112,98,110,85,150,104,...,0,126,71,137,73,115,75,145,75,devel04_13

In [52]:
final_poses_df = pd.DataFrame(columns=column_names + ["name"])
final_labels_df = pd.DataFrame(columns=["label"])
for i, label in enumerate(splitted):
    pose_sequence = poses_from_one_video.iloc[label_sequence_size * i:label_sequence_size + label_sequence_size * i]
    for j in range(math.ceil(label_sequence_size / batch_step_size)):
        temp_poses = pose_sequence.iloc[batch_step_size * j: batch_step_size * j + sequence_size]
        if temp_poses.shape[0] < sequence_size:
            temp_poses = pose_sequence.tail(sequence_size)
            print(j)
        final_poses_df = pd.concat([final_poses_df, temp_poses], ignore_index=True, sort=False)
        final_labels_df.loc[final_labels_df.shape[0]] = label

6
6

In [53]:
final_labels_df

   label
0      2
1      2
2      2
3      2
4      2
5      2
6      2
7      7
8      7
9      7
10     7
11     7
12     7
13     7

In [72]:
def make_batches_from_poses(poses_df, labels_df):
    final_labels_df = pd.DataFrame(columns=["label"])
    final_poses_df = pd.DataFrame()
    for index, row in labels_df.iterrows():
        poses_from_one_video = poses_df.loc[new_poses_df["name"] == row["name"]]
        labels_string = str(row["label"]);
        splitted = labels_string.split(" ")
        try:
            splitted.remove("")
        except:
            pass
        num_labels = len(splitted)
        label_sequence_size = math.ceil(poses_from_one_video.shape[0] / num_labels)
        for i, label in enumerate(splitted):
            pose_sequence = poses_from_one_video.iloc[label_sequence_size * i:label_sequence_size + label_sequence_size * i]
            for j in range(math.ceil(label_sequence_size / batch_step_size)):
                temp_poses = pose_sequence.iloc[batch_step_size * j: batch_step_size * j + sequence_size]
                if temp_poses.shape[0] < sequence_size:
                    temp_poses = pose_sequence.tail(sequence_size)
                final_poses_df = pd.concat([final_poses_df, temp_poses], ignore_index=True, sort=False)
                final_labels_df.loc[final_labels_df.shape[0]] = label
        print(index)

    return final_labels_df, final_poses_df

In [75]:
final_labels_df, final_poses_df = make_batches_from_poses(new_poses_df, df)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325

In [78]:
final_poses_df.to_csv("final_poses_from_videos.csv", sep="\t", index=False)
final_labels_df.to_csv("final_labels_from_videos.csv", sep="\t", index=False)

## Group similar classes

In [17]:
final_poses_df = pd.read_csv("final_poses_from_videos.csv", sep="\t")
final_labels_df = pd.read_csv("final_labels_from_videos.csv", sep="\t")

In [18]:
print(final_poses_df.shape)
print(final_labels_df.shape)

(195327, 37)
(21703, 1)